@charset "UTF-8";

.sortable {
	cursor: pointer;
}

#customer_list{
	width: 100%; 
	border:2px solid black;
	margin-top: 300px;
}

#customer_list th{
	border: 1px solid black;
	border-bottom: 2px double black;
	padding: 5px;
}

#customer_list td{
	border: 1px solid black;
	padding: 10px;
}

#deliverer_list{
	width: 100%; 
	border:2px solid black;
	margin-top: 20px;
}

#deliverer_list th{
	border: 1px solid black;
	border-bottom: 2px double black;
	padding: 5px;
}

#deliverer_list td{
	border: 1px solid black;
	padding: 10px;
}

#manager_list{
	width: 100%; 
	border:2px solid black;
	margin-top: 20px;
}

#manager_list th{
	border: 1px solid black;
	border-bottom: 2px double black;
	padding: 5px;
}

#manager_list td{
	border: 1px solid black;
	padding: 10px;
}